
* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*body{font-family:arial;padding:50px;background:#3b4d4f}*/

.nav {
    float: left;
    width: 100%;
    background: #1CBD9C;
    height: 32px;
}

    .nav ul {
        float: left;
        position: relative;
    }

        .nav ul li {
            float: left;
        }

            .nav ul li a {
                float: left;
                display: block;
                padding: 7px 10px;
                color: #fff;
            }

            .nav ul li ul {
                position: absolute;
                width: 186px;
                background: #1CBD9C;
                margin-top: 32px;
                display: none;
            }

                .nav ul li ul li {
                    width: 100%;
                    float: left;
                }

                    .nav ul li ul li ul {
                        margin-left: 186px;
                        margin-top: 0;
                    }

            .nav ul li:hover > ul {
                display: block;
            }

.divMaster {
    width: 100%;
    position: absolute;
}

.divMenu {
    width: 70%;
    float: left;
}

.divInfo {
    float: right;
}
